In [73]:
import pandas as pd

In [74]:
df = pd.read_csv('data/FARS.csv')

In [75]:
df.head()

,Unnamed: 0,caseid,state,age,airbag,injury,restraint,sex,inimpact,modelyr,airbagAvail,airbagDeploy,Restraint,D_injury,D_airbagAvail,D_airbagDeploy,D_Restraint,year
0,1998.30,1:1:2,1,20,30,3,1,2,12,1991,no,no,yes,3,no,no,yes,1998
1,1998.50,1:2:1,1,41,30,2,0,1,2,1987,no,no,no,2,no,no,no,1998
2,1998.70,1:3:1,1,26,30,3,0,1,4,1983,no,no,no,4,no,no,no,1998
3,1998.13,1:8:1,1,17,1,4,0,1,11,1997,yes,yes,no,4,yes,yes,no,1998
4,1998.17,1:10:1,1,19,30,3,0,1,12,1998,no,no,no,4,yes,yes,no,1998

In [76]:
df = df.loc[:, 'state':'year']

In [77]:
df.describe()

,state,age,airbag,injury,restraint,sex,inimpact,modelyr,D_injury,year
count,151158.000000,151158.000000,151158.000000,151158.000000,151158.000000,151158.000000,151158.000000,151158.000000,151158.000000,151158.000000
mean,27.229144,52.546455,22.721695,2.528897,8.962165,1.553024,10.066341,2005.586704,2.470494,2003.509321
std,16.172011,131.200215,20.784746,1.464662,24.705903,0.756861,12.453220,282.152046,1.473018,3.605318
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1924.000000,0.000000,1998.000000
25%,12.000000,19.000000,1.000000,1.000000,0.000000,1.000000,4.000000,1992.000000,1.000000,2000.000000
50%,27.000000,27.000000,29.000000,3.000000,3.000000,2.000000,11.000000,1996.000000,3.000000,2003.000000
75%,42.000000,49.000000,30.000000,4.000000,3.000000,2.000000,12.000000,2000.000000,4.000000,2006.000000
max,56.000000,999.000000,99.000000,8.000000,99.000000,9.000000,99.000000,9999.000000,8.000000,2010.000000

In [78]:
df.isnull().sum()

state             0
age               0
airbag            0
injury            0
restraint         0
sex               0
inimpact          0
modelyr           0
airbagAvail       0
airbagDeploy      0
Restraint         0
D_injury          0
D_airbagAvail     0
D_airbagDeploy    0
D_Restraint       0
year              0
dtype: int64

In [94]:
df[(df['age']==998) | (df['age']==999)]
# Age either not known or not reported. Consider this age as blank

,state,age,airbag,injury,restraint,sex,inimpact,modelyr,airbagAvail,airbagDeploy,Restraint,D_injury,D_airbagAvail,D_airbagDeploy,D_Restraint,year
17,1,999,30,0,3,9,10,1990,no,no,yes,0,no,no,yes,1998
19,1,999,30,0,3,9,12,1993,no,no,yes,0,yes,no,yes,1998
26,1,999,30,0,3,9,6,1995,no,no,yes,0,yes,no,yes,1998
35,1,999,30,0,3,9,12,1990,no,no,yes,0,no,no,yes,1998
40,1,999,30,0,0,9,0,1988,no,no,no,3,no,no,no,1998
43,1,999,20,0,3,9,12,1994,yes,no,yes,0,yes,no,yes,1998
47,1,999,30,0,3,9,12,1988,no,no,yes,0,no,no,yes,1998
51,1,999,30,0,0,9,12,1984,no,no,no,0,no,no,no,1998
56,1,999,30,0,8,9,9,1984,no,no,yes,4,no,no,no,1998
60,1,999,30,0,3,9,6,1995,no,no,yes,0,no,no,no,1998
64,1,999,20,0,3,9,6,1998,yes,no,yes,0,yes,no,yes,1998
71,1,999,30,0,3,9,11,1995,no,no,yes,3,no,no,no,1998
75,1,999,30,0,0,9,9,1987,no,no,no,0,no,no,no,1998
82,1,999,30,0,0,9,12,1993,no,no,no,0,no,no,yes,1998
100,1,999,30,0,1,9,11,1990,no,no,yes,3,no,no,yes,1998
106,1,999,30,0,0,9,11,1987,no,no,no,0,no,no,no,1998
108,1,999,30,0,3,9,12,1985,no,no,yes,0,no,no,yes,1998
117,1,999,1,0,3,9,11,1992,yes,yes,yes,0,yes,yes,yes,1998
123,1,999,30,0,3,9,11,1995,no,no,yes,0,no,no,yes,1998
126,1,999,30,0,3,9,11,1989,no,no,yes,0,no,no,yes,1998
132,1,999,30,0,0,9,7,1984,no,no,no,0,no,no,no,1998
133,1,999,30,0,3,9,7,1993,no,no,yes,0,yes,no,yes,1998
144,1,999,30,0,0,9,9,1990,no,no,no,4,yes,no,no,1998
165,1,999,30,0,3,9,12,1987,no,no,yes,0,no,no,yes,1998
166,1,999,30,0,3,9,12,1984,no,no,yes,0,no,no,yes,1998
174,1,999,30,0,3,9,6,1994,no,no,yes,0,yes,yes,yes,1998
176,1,999,30,0,3,9,12,1993,no,no,yes,3,no,no,yes,1998
188,1,999,30,0,3,9,9,1981,no,no,yes,0,no,no,yes,1998
201,1,999,30,0,3,9,9,1992,no,no,yes,4,no,no,yes,1998
211,1,999,1,0,3,9,12,1996,yes,yes,yes,0,yes,yes,yes,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148209,13,998,20,0,3,2,12,2007,yes,no,yes,0,yes,no,yes,2010
148242,13,998,0,4,99,2,6,1991,NA-code,NA-code,NA-code,3,yes,yes,NA-code,2010
148243,13,999,1,3,3,2,11,2010,yes,yes,yes,2,yes,yes,yes,2010
148520,18,999,99,0,99,1,12,2008,NA-code,NA-code,NA-code,2,yes,no,yes,2010
148611,21,999,98,0,98,2,81,1997,NA-code,NA-code,NA-code,0,NA-code,NA-code,NA-code,2010
148653,21,999,1,0,3,1,12,2008,yes,yes,yes,1,yes,yes,yes,2010
148789,24,999,1,3,3,1,12,2004,yes,yes,yes,3,yes,yes,yes,2010
148800,24,999,0,0,3,2,11,1989,NA-code,NA-code,yes,0,NA-code,NA-code,yes,2010
148818,24,999,98,1,3,1,3,1992,NA-code,NA-code,yes,0,NA-code,NA-code,yes,2010
148831,24,998,98,0,3,1,12,2003,NA-code,NA-code,yes,0,NA-code,NA-code,yes,2010
148860,25,998,20,0,3,2,6,2002,yes,no,yes,0,yes,no,yes,2010
148924,26,999,20,0,99,1,3,2003,yes,no,NA-code,1,yes,yes,yes,2010
149137,28,999,20,0,3,1,12,1997,yes,no,yes,0,yes,no,yes,2010
149263,31,999,20,0,3,9,3,2000,yes,no,yes,0,yes,no,yes,2010
149265,31,999,20,0,3,9,12,2002,yes,no,yes,0,yes,no,yes,2010
149360,34,999,20,0,4,1,12,2004,yes,no,yes,0,yes,no,yes,2010
149410,34,999,99,0,99,1,12,2008,NA-code,NA-code,NA-code,0,NA-code,NA-code,NA-code,2010
149468,35,998,20,0,3,2,0,2006,yes,no,yes,0,yes,no,yes,2010
149475,36,999,1,4,7,2,3,2003,yes,yes,no,3,yes,yes,no,2010
149516,36,999,99,4,7,1,12,2002,NA-code,NA-code,no,3,NA-code,NA-code,no,2010
149566,36,999,99,0,3,1,6,2003,NA-code,NA-code,yes,0,NA-code,NA-code,yes,2010
149567,36,999,99,3,3,1,6,2007,NA-code,NA-code,yes,2,NA-code,NA-code,yes,2010
149573,36,999,20,0,3,2,12,2001,yes,no,yes,0,yes,no,yes,2010
149863,39,999,20,0,99,2,2,9999,yes,no,NA-code,0,yes,no,NA-code,2010
150126,42,999,20,2,3,1,6,1998,yes,no,yes,4,yes,no,yes,2010
150141,42,999,20,5,99,1,6,2003,yes,no,NA-code,5,NA-code,NA-code,NA-code,2010
150339,45,999,20,0,3,2,7,1991,yes,no,yes,0,yes,no,yes,2010
150709,48,999,20,0,3,1,12,2003,yes,no,yes,0,yes,no,yes,2010
150729,48,999,1,0,99,1,3,2003,yes,yes,NA-code,3,yes,no,NA-code,2010
151018,53,998,20,1,3,1,12,2002,yes,no,yes,1,yes,yes,yes,2010